<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
        font-family: sans-serif;
      }
        label, input {
            display: block;
        }
    </style>
</head>
<body>
    <h1>Sign up</h1>
    <section>
        <form action="/users" method="POST">
            <label for="">First Name:</label>
            <input type="text" name="first_name">
        
            <label for="">Last Name:</label>
            <input type="text" name="last_name">
        
            <label for="">Email:</label>
            <input type="text" name="email">

            <label for="">Username:</label>
            <input type="text" name="username">
        
            <label for="">Password:</label>
            <input type="password" name="password">
        
            <button>Sign up</button>
            </form>
            <p>{{ message }}</p>
    </section>
    
    
</body>
</html>